@media screen and (max-width: 768px) {
/* Header */

header {
   padding: 0;
}

  /* Menu */
 nav {
    flex-direction: column;
 }
 
 nav img {
    height: 70px;
    align-self: center;
 }
 
 nav ul {
    justify-content: space-around;
    width: 100%;
 }
 
 nav li {
    padding-bottom: 25px;
    border-top: none;
    border-bottom: 10px solid;
    border-color: white;
    width: 50%;
 }
 
 nav li a {
    font-size: 30px;
 }
 
 nav li:hover {
   border-top: none;
   border-bottom: 10px solid #0065FC;
}

 
 /* Main */
 
 main {
    margin: 0;
 }
 
 /* Zone de recherche */

 h1 {
    width: 90%;
    margin-left: 40px;
    font-size: 35px;
 }

 #search-desc {
    font-size: 30px;
    margin-left: 40px;
 }
 
 #search-bar {
    height: 100px;
    padding: 30px;
    width: 100%;
    justify-content: flex-start;
 }
 
 /* Icône de position */
 
 .search-icone {
    height: 80px;
    min-width: 80px;
    border-radius: 25px 0 0 25px;
 }
 
 .fa-location-dot {
    font-size: 30px;
 }
 
 .search-text {
    height: 80px;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid #F2F2F2;
    border-right: none;
 }

 ::placeholder {
   color: #333;
   padding-left: 20px;
 }
 
 #search-button-text {
    display: none;
 }

 .button-search-icone {
   height: 76px;
   display: initial;
   background-color: white;
   border-radius: 0 25px 25px 0;
   border-top: 2px solid #F2F2F2;
   border-bottom: 2px solid #F2F2F2;
 }

 #search-button-icone {
   display: initial;
   min-width: 80px;
   height: 80px;
   background-color: #0065FC;
   border: none;
   border-radius: 25px;
   color: white;
   font-size: 30px;
   font-weight: bold;
 }

 #search-button-icone:hover {
   background-color: #DEEBFF;
   color: #0065FC;
}
 
 /* Zone des filtres de recherche */
 
 #filters {
    margin-left: 40px;
 }

 .filter-title {
    font-size: 30px;
 }
 
 .search-filter {
    height: 100px;
    border: 4px solid #D6D6D6;
    border-left-width: 0;
    padding: 0;
 }
 
 .round-filter {
   width: 100px;
   height: 100px;
 }
 
 .icone-filter {
   font-size: 35px;
 }
 
 .filter-name {
   font-size: 30px;
 }

 
 /* Ligne d'information */

 .info-line {
   margin-left: 40px;
 }
 
 .round-info {
   width: 45px;
   height: 45px;
   font-size: 25px;
   font-weight: bold;
 }
 
 .info-desc {
    font-size: 25px;
 }
 
 /* Résultats de la recherche d'hébergements selon les filtres */

 #result-hebergements {
   box-sizing: border-box;
   justify-content: center;
 }

 .title-heberg {
    font-size: 40px;
 }
 
 #result-filtres {
   box-sizing: border-box;
   background-color: white;
   width: 100%;
   margin-top: 40px;
 }
 
 .ligne-result {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
 }

 .card-heberg {
    width: 90%;
    height: 380px;
    box-shadow: 0px 0px 5px #999;
    border-radius: 50px;
    align-items: stretch;
    margin-top: 25px;
 }

 .card-heberg a {
   width: 100%;
 }

 .card-heberg:hover {
   transform: translateY(-3px);
   box-shadow: 0 4px 17px #0065FC;
}
 
 .card-image {
   box-sizing: border-box;
   width: 100%;
   height: 60%;
   border-radius: 50px;
   padding: 10px;
 }
 
 .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 45px 45px 0 0;
    margin: 0;
 }
 
 .card-body {
    margin: 10px 0 0 35px;
    height: 30%;
 }
 
 .card-desc-filter {
    font-size: 30px;
    margin: 0;
 }

 .night-price {
    font-size: 25px;
    margin: 0;
 }
 .star {
    margin-left: 0;
    font-size: 25px;
 }
 
 #plus {
    margin-top: 40px;
    font-size: 30px;
    text-align: left;
 }
 
 #result-pop {
   box-sizing: border-box;
   width: 100%;
   height: auto;
   border-radius: 0;
   order: -1;
 }
 
 .title-heberg-pop {
   box-sizing: border-box;
   width: 100%;
   justify-content: space-around;
   margin: 45px 0 0 0;
   font-size: 35px;
 }
 
 .title-star-pop {
   font-size: 45px;
 }
 
 .star-pop {
   font-size: 25px;
 }
 
.col-result {
   box-sizing: border-box;
   align-items: initial;
   height: auto;
   width: 90%;
}
 
 .card-heberg-pop {
   box-sizing: border-box;
   width: 100%;
   height: 300px;
   border-radius: 30px;
   margin-top: 25px;
 }
 
 .card-image-pop {
    width: 40%;
    height: 300px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 30px 0 0 30px;
    margin-left: 0px;
 }
 
 .card-image-pop img {
    width: 100%;
    height: 93%;
    border-radius: 20px 0 0 20px;
    margin-left: 10px;
 }
 
 .card-body-pop {
    width: 60%;
    border-radius: 0 50px 50px 0;
    padding: 40px 40px 30px 40px;
 }

 .title-activity {
   margin: 45px 0px 0px 40px;
   font-size: 35px;
 }
 
.line-act {
   flex-direction: column;
   align-items: center;
   width: 100%;
   box-sizing: border-box;
   margin: 0;
}
 
.col-activity {
   box-sizing: border-box;
   justify-content: space-around;
   width: 90%;
}
 
.card-activity {
   box-sizing: border-box;
   height: 380px;
   width: 100%;
   border-radius: 50px;
   margin-top: 50px;
}
 
.card-image-act {
   width: 100%;
   height: 270px;
   border-radius: 50px 50px 0 0;
}
 
.card-image-act img {
   height: 140%;
   border-radius: 50px 50px 0 0;
}
 
.card-body-act {
   font-size: 30px;
   width: 90%;
}

.card-act-2-1 {
   box-sizing: border-box;
   height: 380px;
   width: 100%;
   border-radius: 50px;
   margin-top: 50px;
}

.card-image-act-2-1 {
   width: 100%;
   height: 270px;
   border-radius: 50px 50px 0 0;
}

.card-image-act-2-1 img {
   height: 140%;
   border-radius: 50px 50px 0 0;
}

.card-body-act-2-1 {
   margin: 0 0 0 20px;
   font-size: 30px;
   width: 90%;
}

.card-act-2-2 {
   box-sizing: border-box;
   height: 380px;
   width: 100%;
   border-radius: 50px;
   margin-top: 50px;
}

.card-image-act-2-2 {
   width: 100%;
   height: 270px;
   border-radius: 50px 50px 0 0;
}

.card-image-act-2-2 img {
   height: 140%;
   border-radius: 50px 50px 0 0;
}

.card-body-act-2-2 {
   font-size: 30px;
   width: 100%;
}

.card-act-4-1 {
   box-sizing: border-box;
   height: 380px;
   width: 100%;
   border-radius: 50px;
   margin-top: 50px;
}

.card-image-act-4-1 {
   width: 100%;
   height: 270px;
   border-radius: 50px 50px 0 0;
}

.card-image-act-4-1 img {
   height: 140%;
   border-radius: 50px 50px 0 0;
}

.card-body-act-4-1 {
   font-size: 30px;
   width: 100%;
}

.card-act-4-2 {
   box-sizing: border-box;
   height: 380px;
   width: 100%;
   border-radius: 50px;
   margin-top: 50px;
}

.card-image-act-4-2 {
   width: 100%;
   height: 270px;
   border-radius: 50px 50px 0 0;
}

.card-image-act-4-2 img {
   height: 140%;
   border-radius: 50px 50px 0 0;
}

.card-body-act-4-2 {
   font-size: 30px;
   width: 100%;
}
 
 /* Footer */
 
 footer {
   box-sizing: border-box;
    padding-left: 70px;
    padding-top: 100px;
    padding-bottom: 0px;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 100px;
 }
 
 .footer-menu {
    width: 90%;
 }

 .footer-menu h3 {
   font-size: 30px;
}

.footer-menu p {
   font-size: 25px;
}

}

