@media screen and (max-width: 768px) {

   /* Header */

header {
   padding: 0;
   margin-top: 30px;
}

  /* Menu */
 nav {
    flex-direction: column;
 }
 
 nav img {
    align-self: center;
 }
 
 nav ul {
    justify-content: space-around;
    width: 100%;
 }
 
 nav li {
    padding-bottom: 25px;
    border-top: none;
    border-bottom: 10px solid;
    border-color: white;
    width: 50%;
 }
 
 nav li a {
    font-size: 20px;
 }
 
 nav li:hover {
   border-top: none;
   border-bottom: 10px solid #0065FC;
}

 
 /* Main */
 
 main {
    margin: 0;
    padding: 0;
 }
 
 /* Zone de recherche */

 h1 {
    width: 90%;
    margin-left: 20px;
    font-size: 20px;
 }

 #search-desc {
    font-size: 15px;
    margin-left: 20px;
 }
 
 #search-bar {
    padding: 30px;
    width: 100%;
    justify-content: flex-start;
 }
 
 .search-text {
    width: 100%;
    font-size: 20px;
    border-right: none;
 }

 ::placeholder {
   padding-left: 15px;
 }
 
 #search-button-text {
    display: none;
 }

 .button-search-icone {
   height: 46px;
   display: initial;
   background-color: white;
   border-radius: 0 15px 15px 0;
   border-top: 2px solid #F2F2F2;
   border-bottom: 2px solid #F2F2F2;
 }

 #search-button-icone {
   display: initial;
   min-width: 46px;
   height: 46px;
   background-color: #0065FC;
   border: none;
   border-radius: 15px;
   color: white;
   font-size: 20px;
   font-weight: bold;
 }

 #search-button-icone:hover {
   background-color: #DEEBFF;
   color: #0065FC;
}
 
 /* Zone des filtres de recherche */
 
 #filters {
    margin-left: 20px;
 }

 .filter-title {
    font-size: 15px;
 }
 
 .search-filter {
    height: 50px;
    border: 2px solid #D6D6D6;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 0;
 }
 
 .round-filter {
   width: 50px;
   height: 50px;
 }
 
 .icone-filter {
   font-size: 20px;
 }
 
 .filter-name {
   font-size: 15px;
   margin: 0 20px;
 }

 
 /* Ligne d'information */

 .info-line {
   margin: 20px;
 }
 
 .round-info {
   text-align: center;
   font-size: 15px;
   font-weight: bold;
 }

 .fa-info {
   width: 25px;
 }
 
 .info-desc {
    font-size: 15px;
 }
 
 /* Résultats de la recherche d'hébergements selon les filtres */

 #result-hebergements {
   box-sizing: border-box;
   justify-content: center;
 }

 .title-heberg {
    margin: 10px 20px;
 }
 
 #result-filtres {
   box-sizing: border-box;
   background-color: white;
   width: 100%;
   margin-top: 20px;
 }
 
 .ligne-result {
    align-items: center;
    width: 100%;
    margin: 0;
 }

 .card-heberg {
    width: 90%;
    border-radius: 25px;
    margin-top: 25px;
 }

 .card-heberg a {
   width: 100%;
 }
 
 .card-image {
   box-sizing: border-box;
   width: 100%;
   border-radius: 25px;
   padding: 5px;
 }
 
 .card-image img {
    width: 100%;
    margin: 0;
 }
 
 .card-body {
   margin: 5px;
    height: 30%;
 }
 
 .card-desc-filter {
    font-size: 20px;
    margin: 0;
 }

 .night-price {
    font-size: 15px;
    margin: 10px 0;
 }
 
 #plus {
   margin: 20px;
    font-size: 20px;
    text-align: left;
 }
 
 #result-pop {
   box-sizing: border-box;
   width: 100%;
   height: auto;
   border-radius: 0;
   order: -1;
   margin-top: 20px;
 }
 
 .title-heberg-pop {
   box-sizing: border-box;
   width: 100%;
   justify-content: space-around;
   margin: 20px 0 0 0;
 }
 
 .title-star-pop {
   font-size: 20px;
 }
 
.col-result {
   box-sizing: border-box;
   align-items: initial;
   height: auto;
   width: 90%;
}
 
 .card-heberg-pop {
   box-sizing: border-box;
   width: 100%;
   margin-top: 15px;
 }
 
 .card-image-pop {
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 30px 0 0 30px;
    margin-left: 0px;
 }
 
 .card-image-pop img {
    width: 100%;
    height: 93%;
 }
 
 .card-body-pop {
    width: 60%;
    margin: 15px 20px;
 }

 .star-pop {
   margin: 0;
   font-size: 10px;
}

#activities {
   margin-top: 30px;
}

 .title-activity {
   margin-left: 20px;
 }
 
.line-act {
   flex-direction: column;
   align-items: center;
   width: 100%;
   box-sizing: border-box;
   margin: 0;
}
 
.col-activity {
   box-sizing: border-box;
   width: 90%;
   margin: 0;
}
 
.card-activity {
   box-sizing: border-box;
   height: 200px;
   width: 100%;
   margin-top: 20px;
}
 
.card-image-act {
   width: 100%;
   height: 80%;
}
 
.card-image-act img {
   height: 140%;
}
 
.card-body-act {
   font-size: 20px;
   width: 100%;
   margin: 0;
}

h4 {
   margin: 20px;
}

.card-act-2-1 {
   box-sizing: border-box;
   height: 200px;
   width: 100%;
   margin-top: 20px;
}

.card-image-act-2-1 {
   width: 100%;
   height: 80%;
}

.card-image-act-2-1 img {
   height: 140%;
}

.card-body-act-2-1 {
   font-size: 20px;
   width: 100%;
   margin: 0;
}

.card-act-2-2 {
   box-sizing: border-box;
   height: 200px;
   width: 100%;
   margin-top: 20px;
}

.card-image-act-2-2 {
   width: 100%;
   height: 80%;
}

.card-image-act-2-2 img {
   height: 140%;
}

.card-body-act-2-2 {
   font-size: 20px;
   width: 100%;
   margin: 0;
}

.card-act-4-1 {
   box-sizing: border-box;
   height: 200px;
   width: 100%;
   margin-top: 20px;
}

.card-image-act-4-1 {
   width: 100%;
   height: 80%;
}

.card-image-act-4-1 img {
   height: 140%;
}

.card-body-act-4-1 {
   font-size: 20px;
   width: 100%;
   margin: 0;
}

.card-act-4-2 {
   box-sizing: border-box;
   height: 200px;
   width: 100%;
   margin-top: 20px;
}

.card-image-act-4-2 {
   width: 100%;
   height: 80%;
}

.card-image-act-4-2 img {
   height: 140%;
}

.card-body-act-4-2 {
   font-size: 20px;
   width: 100%;
   margin: 0;
}
 
 /* Footer */
 
 footer {
   box-sizing: border-box;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 0;
    flex-direction: column;
    margin-top: 50px;
 }
 
 .footer-menu {
    width: 90%;
 }

 .footer-menu h3 {
   font-size: 25px;
}

.footer-menu p {
   font-size: 20px;
}

}

